body{

    display:grid;
    grid-template-areas: "h1 s1 h2";
     background-color:rgb(37, 37, 37); 
    /*background-image: url("../../assets/cat/f1.jpg");*/

}

.h1{
    /*background-image: url("../../assets/cat/f1.jpg");*/

    display:grid;
    margin-top: 10px;
    grid-area: h1;
}

.h2{
    /*background-image: url("../../assets/cat/f1.jpg");*/

    display:grid;
    margin-top: 10px;
    grid-area: h2;
}


.s1{
      /*background-image: url("../../assets/cat/f1.jpg");*/
    /*background-color: black;*/
        margin-top: 10px;
    display:grid;
    grid-area: s1;
}


.usu{
    width: 200px;
    border-radius: 50%;
}

.edicion{
    color:gray;
}
.edicion:hover{
  color: rgb(248, 182, 0);
}

/*#princ{
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(0,0,0,1) 100%);
    /*rgba(153,170,255,1)
}*/



