<body>
    <header class="hd">
    </header>
  
    <section class="s1">
      <mat-accordion>
  
        <mat-expansion-panel>
          <mat-expansion-panel-header>
           ¿Comó es el preceso de registro? 
          </mat-expansion-panel-header>
          para crear tu cuenta solo necesitas ingresar:
              <ul>
                <li>correo electornico vigente</li>
                <li>Nombre</li>
                <li>Apellido</li>
                <li>ID</li>
              </ul>
         y listo!
      
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ¿cual es el fin de este sitio?
          </mat-expansion-panel-header>
      nuestro fin es crear una comunicacion saludable entre alumnos 
      univesitarios donde cada quien elgie su tema interes y es libre 
      de opinar simepre y cuando lea las opiniones de los demas
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ¿Que necesito para poder publicar algo?
          </mat-expansion-panel-header>
            lo unico que necesitas es tener puntos 
        </mat-expansion-panel>
      
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ¿Comó acumulo puntos?
          </mat-expansion-panel-header>
      puedes obtener puntos simplemente leyendo las publicaciones de los demas  
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            ¿Es seguro usar The Fee?
          </mat-expansion-panel-header>
          Es muy seguro no tendras que preucuparte por tus datos nos aseguramos que <br>
           tus datos no se encuetran en la red pasandolo por metodos que lo evitan
        </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          ¿Cuesta algo la aplicacion?
        </mat-expansion-panel-header>
          Para nada es totalmente gratuita
      </mat-expansion-panel>
    </mat-accordion>  
    </section>
    <section class="s2"></section>
  
    <footer class="f1"><app-footer></app-footer></footer>
  </body>
  