footer{
    display: grid;
    grid-template-areas: "t1 t1 im1"
                        "div div im1";
}
.t1{
    display: grid;
    grid-area: t1;
    grid-gap: 5px;
}
div{
    display: grid;
    grid-area: div;
}
.im1{
    display: grid;
    grid-area: im1;
    width: 80px;
}
li{
    list-style:none; font-size:20px;
}
i{
    color: black;
    font-size: 30px;
    margin: 5px auto;
}
a{
    grid-gap: 5px;
    color: black;
}