<body>
  <div id="form_login" class="mx-auto card w-50 my-5 p-5"> 
    <div class="form-group">
      <label for="exampleInputEmail1">Correo Electrónico</label>
      <input [(ngModel)]="email" type="email" class="form-control"  placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input [(ngModel)]="psw" type="password" class="form-control" placeholder="Password">
    </div>
    <button type="button" class="btn btn-outline-primary" [routerLink]="['/categorias']" (click)="back1()">Ingresar</button>

    <button type="submit" class="btn btn-outline-dark" (click)="back2()">Regresar</button>
  </div>

</body>
