

   <body>
    <header class="hd" >
      <h3 style="font-family: 'Abel', sans-serif; font-size: 30px;" >si tienes alguna duda o comentario háznoslo saber!!</h3>
      <br><br><br>
    </header>
 <section class="s1" >
  <div>
  <p>
    <mat-form-field appearance="legacy">
      
      <input matInput placeholder="nombre" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>ingresa tu nombre</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard">
     
      <input matInput placeholder="pat@example.com" />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Ingresa correo</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>ingresa tu mensaje:</mat-label>
      <textarea matInput></textarea>
    </mat-form-field></p>
 
  
  <br />
  <button mat-button>enviar</button>
</div>
</section>
<section class="s2">
<img src="../../assets/img/c9.png" width="350px" alt="">

</section>

<footer class="f1"><app-footer></app-footer></footer>
   </body>