<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- *ngFor="let post of posts" -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" [routerLink]="['categorias']"
      ><img class="im1" src="../../assets/the_fee.png" alt=""
    /></a>
    <button mat-fab color="primary" type="button" (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      [routerLink]="['quejarse_aqui']"
      class="ml-3"
    >
       Quejas 
  </button>
  <button mat-stroked-button
  color="primary"
  type="button"
  [routerLink]="['mapa']"
  class="ml-3">
    Mapa
  </button>
    <span class="spacer"></span>
    <div class="form-inline">
      <input
        class="form-control mr-sm-2"
        type="search"
        *ngIf="this.bandlog"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        *ngIf="this.bandlog"
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
      >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <span class="spacer"></span>
    <!-- *ngIf="this.bandlog" -->
    <a class="navbar-brand" *ngIf="this.bandlog" (click)="goToUser()"
      ><img class="im1" [src]="fotoURL" alt=""
    /></a>
    <button
    mat-button
    color="primary"
    type="button"
    *ngIf="this.adminband"
    [routerLink]="['admins']"
  >
    Administador
  </button>
  <span class="example-spacer"></span>
    <button  class="btn btn-outline-primary mr-3" color="accent" (click)="addToHomeScreen()">
      Instalar
    </button>
    <button
      class="btn btn-outline-light"
      *ngIf="this.bandlog"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</nav>
