<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport>
   
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['home']">
          <mat-icon>notifications</mat-icon>
          Home
        </a>
        <a mat-list-item [routerLink]="['about']">
          <mat-icon>live_help</mat-icon>
          About</a
        >
        <a mat-list-item [routerLink]="['contacto']">
          <mat-icon>class</mat-icon>
          Contacto
        </a>
        <a mat-list-item [routerLink]="['preguntas']">
          <mat-icon>person_search</mat-icon>
          Preguntas
        </a>
        <a mat-list-item [routerLink]="['login']">
          <mat-icon>people_outline</mat-icon>
          login
        </a>
        <a (click)="drawer.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>



    <!-- toolbar -->
  
    <mat-sidenav-content>
      <mat-toolbar color="primary"  >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <button mat-button [routerLink]="['home']">
          <img src="../../assets/img/logo.png" width="30" height="30" alt="" />
          <span style="font-size: 50px;">The Fee</span>
        </button>
  
        <span class="spacer"></span>
        <div class="divi" >
          <button mat-button [routerLink]="['home']" >
            <mat-icon>store_mall_directory</mat-icon>
            Home
          </button>
  
          <button mat-button [routerLink]="['about']">
            <mat-icon>live_help</mat-icon>
            A cerca de
          </button>
          <button mat-button [routerLink]="['contacto']">
            <mat-icon>class</mat-icon>
            contacto
          </button>
  
          <button mat-button [routerLink]="['preguntas']">
            <mat-icon>priority_high</mat-icon>
            Preguntas
          </button>
  
          <button mat-button [routerLink]="['login']">
            <mat-icon>people_outline</mat-icon>
            Login
          </button>
        </div> 
      </mat-toolbar>
    </mat-sidenav-content>

    
  </mat-sidenav-container>
  
