 .sidenav {
    width: 200px;}
  
  .sidenav .mat-toolbar {
    background:lightslategrey;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .spacer{
     flex: 1 1 auto; 
  }

  @media(min-width: 855px){
    .sidenav{
        height: 100%;
        display: none;
    } }

    @media screen and (max-width: 855px){
     .divi{
        display: none;
      }
    }





footer{
  position: sticky;
  top:10px;
  z-index: 1
}