img{
  width: 150px;
}
mat-expansion-panel{
  width: 700px;

}
      body{

        width: 98%;
        display: grid;
        grid-gap: 10px; 
        margin: 10px auto;
        margin-left: 10px;
        margin-right: 10px;
        grid-template-areas: "hd hd hd"
                             "d1 s1 s1"
                             "d1 s1 s1 "
                             "f1 f1 f1"
      }

      .hd{
        display: grid;
        grid-area: hd;
      }
      .d1{
        display: grid;
        grid-area: d1;
        margin-left: 30px;
        
      }
      .s1{
        display: grid;
        grid-area: s1;
        text-align: center;
        display: flex;
        justify-content: center;
      }
      .f1{
        display: grid;
        grid-area: f1;
      }

      @media screen and (max-width: 830px){
       .d1{
         display: none;
       }
      }    