body{

    display:grid;
    grid-template-areas: "h1 s1 h2";
    background-color:rgb(37, 37, 37); 

}

.h1{
    display:grid;
    margin-top: 10px;
    grid-area: h1;
}

.h2{
    display:grid;
    margin-top: 10px;
    grid-area: h2;
}


.s1{

    margin-top: 10px;
    display:grid;
    grid-area: s1;
}


.usu{
    width: 200px;
    border-radius: 50%;
}

.dropdown-menu{
    position: relative;
    top: -110px;
}

mat-card.post{
    background-color: rgba(255, 255, 255, 0.096);
} 

@media screen and (max-width:700px){
    body{
        grid-template-areas: "h1"
                             "s1"
                             "h2"
    }
}