/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Poppins&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Muli:ital@1&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


footer{
    width: 100%;
    background-color: rgb(97, 30, 160);
    color: black;
    text-align: center;
        display: flex;
        justify-content:center;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
