<body *ngIf="this.flagEnter">
  <!-- p-3 text-right -->

  <div class="card-columns" style="margin-top: 5px; background-color: black">
  <div class = "card">
    <mat-card
      class="grid-item text-center"
      style="
        background: -moz-linear-gradient(
          -45deg,
          rgba(53, 39, 144, 1) 0%,
          rgba(29, 28, 74, 1) 40%,
          rgba(33, 31, 86, 1) 55%,
          rgba(44, 40, 123, 1) 100%
        );
      "
    >
      <mat-card-header>
        <mat-card-title>Medicina</mat-card-title>
        <mat-card-subtitle>UAA</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/cat/med.png"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          La medicina es el arte de conservar la salud y eventualmente de curar
          la enfermedad ocurrida en el cuerpo.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab color="primary" (click)="btnClick('medicina')">
          <mat-icon>east</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
  <div class = "card">
    <mat-card
      class="grid-item text-center p-3"
      style="
        background: -moz-linear-gradient(
          -45deg,
          rgba(76, 76, 76, 1) 0%,
          rgba(102, 102, 102, 1) 0%,
          rgba(11, 73, 89, 1) 13%,
          rgba(0, 0, 0, 1) 48%,
          rgba(43, 43, 43, 1) 73%,
          rgba(3, 59, 66, 1) 91%,
          rgba(19, 19, 19, 1) 100%
        );
      "
    >
      <mat-card-header>
        <mat-card-title>Deporte</mat-card-title>
        <mat-card-subtitle>UAA</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/cat/dep.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>El deporte no construye el carácter. Lo revela.</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="btnClick('deporte')"
        >
          <mat-icon>east</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class = "card">
    <mat-card
      class="grid-item text-center"
      style="
        background: -moz-linear-gradient(
          -45deg,
          rgba(101, 220, 190, 1) 0%,
          rgba(107, 203, 178, 1) 18%,
          rgba(119, 172, 156, 1) 50%,
          rgba(102, 71, 98, 1) 100%
        );
      "
    >
      <mat-card-header>
        <mat-card-title>Comedia</mat-card-title>
        <mat-card-subtitle>UAA</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/cat/comedia.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          La comedia es un escape, y no de la verdad, sino de la desesperación
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="btnClick('Comedia')"
        >
          <mat-icon>east</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class = "card">
    <mat-card
      class="grid-item text-center p-3"
      style="
        background: -moz-linear-gradient(
          -45deg,
          rgba(3, 27, 36, 1) 0%,
          rgba(33, 180, 226, 1) 51%,
          rgba(0, 0, 0, 1) 100%
        );
      "
    >
      <mat-card-header>
        <mat-card-title>Informatica</mat-card-title>
        <mat-card-subtitle>UAA</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/cat/info.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>No temo a los ordenadores, lo que temo es quedarme sin ellos</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="btnClick('Informatica')"
        >
          <mat-icon>east</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class = "card">
    <mat-card
      class="grid-item text-center"
      style="
        background: -moz-linear-gradient(
          -45deg,
          rgba(203, 96, 179, 1) 0%,
          rgba(56, 2, 56, 1) 51%,
          rgba(82, 51, 82, 1) 83%,
          rgba(28, 20, 25, 1) 100%
        );
      "
    >
      <mat-card-header>
        <mat-card-title>Musica</mat-card-title>
        <mat-card-subtitle>UAA</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/cat/mus.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>La música es la banda sonora de la vida</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="btnClick('Musica')"
        >
          <mat-icon>east</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
    <div class = "card">
    <mat-card
      class="grid-item text-center"
      style="
        background: -moz-linear-gradient(
          -45deg,
          rgba(5, 0, 5, 1) 0%,
          rgba(250, 168, 168, 1) 50%,
          rgba(253, 137, 215, 1) 51%,
          rgba(5, 20, 77, 1) 100%
        );
      "
    >
      <mat-card-header>
        <mat-card-title>Arte</mat-card-title>
        <mat-card-subtitle>UAA</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="../../assets/cat/arte.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          El objetivo del arte no es representar la apariencia externa de las
          cosas, sino su significado interior.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-fab
          color="primary"
          aria-label="Example icon button with a delete icon"
          (click)="btnClick('Arte')"
        >
          <mat-icon>east</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    </div>
  </div>
</body>
