<body>
  <header class="hd">
      <br><br>
      <img src="../../assets/img/logo_size_invert.jpg" style="border-radius: 100px ;" alt="">
  </header>
  <nav class="n1"><br><br> Conoce nuestras categorias</nav>
  <!-- <mat-grid-list
      [cols]="breakpoint"
      rowHeight="400px"
      gutterSize="18px"
      (window:resize)="onResize($event)"
    >
  <mat-grid-tile>
    <mat-card class="example-card">
      <img class="hola" mat-card-image src="../../assets/img/info.jpg" />
      <mat-card-content> Computacion </mat-card-content>
      <mat-card-actions>
        <button mat-button>¿?</button>
      </mat-card-actions>
    </mat-card></mat-grid-tile></mat-grid-list> -->

  <div class="d1">
    <table>
      <tr>
        <td class="t1"><img src="../../assets/img/comedia.jpg" alt="" /></td>
        <td><h1>Comedia</h1>
            <br><p>
             Te quieres divertir registrate y enucetra el mejor <br>
             contenido de entretenimineto podras encontrar <br> 
             imagnes divertidas a demas de poder comentarlas.</p>
        </td>
      </tr>
    </table>
  </div>
  <div class="d2">
    <table>
      <tr>
        <td><h1>Deportes</h1>
        <p> Te quieres divertir registrate y enucetra el mejor <br>
            contenido de entretenimineto podras encontrar <br> 
            imagnes divertidas a demas de poder comentarlas.</p></td>
        <td class="t1"><img src="../../assets/img/dep.jpg" alt="" /></td>
      </tr>
    </table>
  </div>

  <div class="d3">
    <table>
      <tr>
        <td class="t1"><img src="../../assets/img/med.jpg" alt="" /></td>
        <td><h1>Medicina</h1>
        <p> Te quieres divertir registrate y enucetra el mejor <br>
            contenido de entretenimineto podras encontrar <br> 
            imagnes divertidas a demas de poder comentarlas.</p></td>
      </tr>
    </table>
  </div>

  <div class="d4">
    <table>
      <tr>
        <td><h1>Computacion</h1>
        <p> Te quieres divertir registrate y enucetra el mejor <br>
            contenido de entretenimineto podras encontrar <br> 
            imagnes divertidas a demas de poder comentarlas.</p></td>
        <td class="t1"><img src="../../assets/img/info.jpg" alt="" /></td>
      </tr>
    </table>
  </div>
  <div class="d5">
    <table>
      <tr>
        <td class="t1"><img src="../../assets/img/mus.jpg" alt="" /></td>
        <td><h1>Musica</h1>
        <p> Te quieres divertir registrate y enucetra el mejor <br>
            contenido de entretenimineto podras encontrar <br> 
            imagnes divertidas a demas de poder comentarlas.</p></td>  
    </tr>
    </table>
  </div>
  <div class="d6">
    <table>
      <tr>
        <td><h1>Politica</h1>
        <p> Te quieres divertir registrate y enucetra el mejor <br>
            contenido de entretenimineto podras encontrar <br> 
            imagnes divertidas a demas de poder comentarlas.</p></td>
        <td class="t1"><img src="../../assets/img/poli.jpg" alt="" /></td>
      </tr>
    </table>
  </div>

  <footer class="f1"><app-footer></app-footer></footer>
</body>
